body{
   background-image: url("https://img.freepik.com/free-photo/autumn-brown-leaves-shapes-pattern_23-2149904466.jpg?ga=GA1.1.820007059.1722418313&semt=ais_hybrid");
   background-repeat: no-repeat;
   background-size: cover;
}

#head{

    text-align: center;
    color: rgb(65, 64, 63);
    font-size: 23px;
    padding: 18px;   
    
}
img{
    width: 40%;
    opacity: 0.1px;
}
.over{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}
.cont{
   
   background-color: rgb(223,197,182);
    border: 2px solid rgb(105, 100, 100);
    width: 390px;
    padding: 30px;
    border-radius: 20px;
    display: block;
    justify-content: center;
    line-height: 28px;
    font-size: 18px;
   
}

button{
    background-color:rgb(229,203,188);
    border: 2px solid rgb(105, 100, 100) ;
    padding: 10px;
    width: 100px;
    height: 5vh;
    border-radius: 10px;
    font-size: 15px;
    
}
#btn{
    display: flex;
    justify-content:space-evenly;
}
#btn1{
    display: flex;
    justify-content:space-evenly;
    
}
#txt{
    font-size: 30px;
    line-height: 50px;
    font-style: italic;
}



