
<body>
  <div id="image1"></div>
  <div id="head">
<h1>VOTING ELIGIBILITY SYSTEM</h1></div>
 
<div class="over">
 <div id="txt">
  <b>
    " The Vote is Precious. <br>
    It is the most Powerful non-Violence tool <br>
    we have in a democratic society, <br>
    and we must use it ".
  </b>
 </div>
  <div class="cont">

  Enter Your Name :   <input type="text" required>
  <br><br>
  Enter your Age :    <input type="text" required>
  <br><br>
  Gender: <input type="radio" name="gender">Male
  <input type="radio" name="gender">Female
  <br><br>
  Phone.No: <input type="text" required><br><br>
  Birth Certificate: <input type="file" required><br><br>
  <div id="btn">
  <button>INSERT</button>
  <button>UPDATE</button>
  <button>DELETE</button>
  <br><br>
</div>
<div id="btn1">
<button>FIND</button>
  <button>FIND-OUT</button></div>
</div>
</div>
</body>