.myheading-3{
    border: 2px solid rgb(30, 40, 219);
        text-align: center;
        width: 50%;
        color: rgb(16, 233, 16);
        background-color: rgb(236, 237, 212);
        cursor: pointer;
}